$primary: #0B0C0D;
$gray-body: #606772;

//Home hero styles

.homehero-section{
    background-color: $primary;
    padding: 80px 0;
    .hero{
        width: 80%;
        margin: 0 auto;
        p{
            width: 60%;
            color: white;
            margin: 20px auto;
            font-size: 22px;
        }  
        .hero-img{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 40%;
                height: 60vh;
                object-fit: cover;
                border-radius: 50%;
            }
    
        }
    }
}

@media screen and (max-width: 600px) {
    .homehero-section{
        padding: 10px 0px;
        .hero{
            width: 90%;
            margin: 0 auto;
            .hero-img{
                img{
                    width: 80%;
                    height: 38vh;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            p{
                width: 100%;
                margin: 20px auto;
                padding-top: 10px;
            }
        }
        }
}
@media screen and (min-width: 768px) and (max-width: 1366px){
    .homehero-section{
       .hero{
        .hero-img{
            img{
                width: 40%;
                height: 65vh;
                object-fit: cover;
                border-radius: 50%;
            }
        }
       }
    }
}
@media screen and (min-width: 1200px) {
    .homehero-section{
        .hero-img{
            img{
                width: 40%;
                height: 60vh;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}

//Portfolio Section styles

.portfolio-section{
    background-color: $primary;
    padding: 50px 0;
    h6{
        color: $gray-body;
        position: absolute;
        left: 10%;
        margin: 5px 0;
    }
    .project{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        .project-text{
            text-align: left;
            margin:20px 0;
            h3{
             color: white;
            }
           .fa-arrow-right{
               margin: 0 10px;
           } 
           p{
             width: 100%;
             color: $gray-body;
             font-size: 16px;
           }
        }
    }
}

@media screen and (max-width: 600px){
    .portfolio-section{
        h6{
            left: 5%;
        }
        .project{
            grid-template-columns: 1fr;
            width: 90%;
            margin: auto;
          .project-img{
              img{
                margin: auto;
              }
          }
            .project-text{
                h3{
                    color: white;
                }
                p{
                    width: 100%;
                    margin: 20px auto;
                }
        }
        }
    }
}

//Blog section

.blog-section{
    background-color: $primary;
    padding: 100px 0;
    h6{
        color: $gray-body;
        position: absolute;
        left: 10%;
        margin: -60px 0;
    }
    .readmore{
        color: white;
        font-weight: bold;
        text-align: left;
        position: absolute;
        left: 10%;
        margin: 5px 0;
        text-decoration: none;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        .fa-arrow-right{margin: 0 10px;}
        &:hover{
            color: $gray-body;
        }
    }
    .blog-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        width: 80%;
        margin: 0 auto;
        .card{
            .card-body{
                img{
                    max-width: 100%;
                }
            }
          .card-text{
           text-align: left;
           .blog-link{
            text-decoration: none;
        }
           .fa-arrow-right{
            margin: 0 10px;
        } 
           p{
               font-size: 16px;
               color: $gray-body;
           }
            h3{
                color: white;
                text-decoration: none;
            }
            .links{
                text-decoration: none;
            }
          }  
        } 
    }
}

@media screen and (max-width: 600px){
    .blog-section{
        h6{
            left: 5%;
        }
        .blog-card{
            display: grid;
            grid-template-columns: 1fr;
            width: 90%;
            margin: auto;
            .card{
                margin: 10px 0;
            }
        }
    }
}