@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');

$primaryNav: #14191a;
$primary: #0B0C0D;
$gray-body: #606772;

.navs{
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    .first-nav{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
        .burger{
            cursor: pointer;
            .line1, .line3{
                width: 25px;
                height: 2px;
                background-color: white;
                margin: 3px 0;
            }
            .line2{
                width: 18px;
                height: 2px;
                background-color: white;   
            }  
        }
        .logo-div{
            display: flex;
            align-items: center;
            justify-content: center;
            .logo{
                text-decoration: none;
                h1{
                    font-family: 'Josefin Slab', serif;
                    font-size: 1.7rem;
                    color: white;
                }
            }
        }
        .social-icons{
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            margin: 0px 30px;
            #icon{
                font-size: 1.5rem;
                color: $gray-body;
                transition: all 0.4s ease-in-out;
                &:hover{
                    color: white;
                }
            }
          li{
              margin: 0 10px;
          }
        }  
      }
        .fa-times{
            position: absolute;
            left: 25%;
            top: 20%;
            font-size: 1rem;
            color: white;
            z-index: 2; 
            cursor: pointer;
        }    
    }

  


@media screen and (min-width: 280px){
    .social-icons-mobile{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            list-style: none;
        li{
            margin-right: 15px;
            font-size: 1.5rem;
            color: white;
        }
        }   
          .Nav-list-mobile{
              list-style: none;
              font-weight: bold;
              text-align: start;
           .links{
            text-decoration: none;
              }
          }
          #nav {
            display: none;
            top: 0;
            right: 0;
            left: -100%;
            opacity: 1;
          }
          #nav-active{
            position: fixed;
            background-color: $primaryNav;  
            left: 0;
            z-index: 1;
            transition: all 0.2s ease;
            opacity: 1;
            height: 100vh;
            width: 30%; 
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
           .Nav-list-mobile{
               margin-top: 80px;
            li{
                margin: 20px 0;
                color: white;
            }
            }
          }
}

@media screen and (min-width: 10px) and (max-width: 600px){
    //Nav-bar mobile

    #nav-active{
        width: 80%;
        position: fixed;
    }
   .navs{
    .fa-times{
    left: 70%;
    top: 3%;
    position: fixed;
    }
   .first-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    .burger{
        position: absolute;
        left: 8%;
    }
    .logo-div{
        margin-left: 18px;
       .logo{
      
           h1{

           }
       }
        .fa-times{
            left: 50%;
        }
    }
    .social-icons{
        display: none;
    }
   }
}
}