$gray: #3B3A40;
$gray-body: #606772;
$primary: #0B0C0D;

footer{
    color: white;
    background-color: $primary;
    padding: 30px 0;
    .footer-div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 120px;
        width: 80%;
        margin: 0 auto;
        height: 100%;
        .footer-contact{
            .contact{
                text-decoration: none;
                color: white;
                font-weight: bold;
                &:hover{
                    color: $gray-body;
                }
            }
           h6{
               color: $gray-body;
               text-decoration: none;
               text-align: left;
               font-size: 12px;
           }
           p{
               font-size: 16px;
               text-align: left;
               color: $gray-body;
           }
           .social-icons{
               list-style: none;
               display: flex;
               position: absolute;
               bottom:50px;
               left: 3%;
               .footer-link{
                   color: $gray-body;
                   transition: all 0.4s ease-in;
                   &:hover{
                    color: white;
                }
                   #icon{
                    margin: 0 5px;
                    font-size: 1.8rem;
                   }
                  
               }
           }
        }
        .footer-address{
            margin: 50px 0;
            text-align: left;
            .sm-heading{
                font-size: 14px;
                font-weight: bold;
                color: $gray-body;
                #sm-icon{
                    margin: 0 5px;
                    color: white;
                }
            }   
           }
    }
    .last-footer-div{
        color: $gray-body;
        font-size: 14px;
        padding-top: 5px;
        text-align: start;
    }
}

@media screen and (max-width: 600px){
    footer{
        .footer-div{
            display: grid;
            grid-template-columns: 1fr;
            width: 90%;
            .footer-contact{
                .social-icons{
                    left: -75px;
                    bottom: 50px;
                }
            }
            .footer-address{
                text-align: left;
            }
        }
    }
}

@media screen and (min-width: 767px) and (max-width: 1028px) {
  footer{
      .footer-div{
          .footer-contact{
            .social-icons{
                position: absolute;
                bottom: 2.5%;
                left: -3%;
              }
          }
      }
  }
}